#nimble_portfolio_social{position:absolute;top:10px;left:30px;z-index: 20000;}
/*
     FILE ARCHIVED ON 06:07:44 Jul 28, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:02:23 Nov 18, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 49.957 (3)
  esindex: 0.008
  captures_list: 64.414
  CDXLines.iter: 10.584 (3)
  PetaboxLoader3.datanode: 112.805 (5)
  exclusion.robots: 0.174
  exclusion.robots.policy: 0.162
  RedisCDXSource: 1.471
  PetaboxLoader3.resolve: 69.556 (2)
  load_resource: 169.188
*/